/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font);
  background-image: var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  min-height: 668px;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 25px;
  height: 25px;

  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.header__theme-menu-item:last-of-type {
  margin-bottom: 0;
}

.header__theme-menu-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
  transition: border-color 0.01s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.6);
  padding: 0 25px 5px 25px;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  padding: 0 25px 5px 25px;
}

.header__theme-menu {
  justify-self: self-end;
  align-self: center;
}

.header__title {
  text-transform: lowercase;
  color: #DB00FF;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  align-self: self-end;
}

.header__description {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;

  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
}

.article {
  margin-block-start: 50px;
}

.article:first-of-type {
  margin-block-start: 40px;
}

.article__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.card {
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.card:last-of-type {
  margin-block-end: 0;
}

.card_type_gallery {
  display: grid;
  gap: 10px;
}

.card__text {
  color: var(--card-text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
}

.card__text_type_header {
  color: var(--card-header-color);
  font-weight: bold;
  margin-block-end: 10px;
}

.card__text_type_additional-header {
  margin-block-end: 20px;
}

.title-regular {
  font-weight: normal;
}

.card__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-text-color); 
}
.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--card-text-color);
  outline: none;
}

.card__img {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 667px;
  width: 100%;
  position: relative;
}

.footer__title {
  text-transform: lowercase;
  color: #DB00FF;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}