/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font);
  background-image: var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  min-height: 668px;
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
  position: relative;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  width: 100%;
  margin: 0 auto;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;

  width: 25px;
  height: 25px;

  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;

  width: 25px;
  height: 25px;

  border-left: 1px solid var(--decorated-zone-color);
  border-bottom: 1px solid var(--decorated-zone-color);
}

.header__theme-menu {
  justify-self: self-end;
  align-self: center;
}

.header__theme-menu-item {
  margin-bottom: 10px;
}

.header__theme-menu-item:last-of-type {
  margin-bottom: 0;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-end: 4px;
  cursor: pointer;
  background: transparent;
  color: var(--menu-button-color);
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-color);
  pointer-events: none;
}

.header__title {
  text-transform: lowercase;
  color: var(--title-font-color);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--title-font-size);
  line-height: 83%;
  align-self: self-end;
}

.header__description {
  font-size: 18px;
  color: var(--accent-text-color);
  line-height: 23.4px;
  font-weight: bold;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
  margin-block-start: 50px;
}

.article {
  margin-bottom: 50px;
}

.article_type_gallery {
  display: grid;
  gap: 10px;
}

.article__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
  color: var(--article-text-color);
  margin-bottom: 20px;
}

.card {
  margin-block-start: 20px;
}

.card:last-of-type {
  margin-block-end: 0;
}

.card_type_gallery {
  display: grid;
  gap: 10px;
}

.card__text {
  color: var(--card-text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
}

.card__text_type_header {
  color: var(--accent-text-color);
  font-weight: bold;
  margin-block-end: 10px;
}

.card__text_type_additional-header {
  margin-block-end: 20px;
}

.title-regular {
  font-weight: normal;
}

.card__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 3px 2px var(--link-shadow-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-text-color); 
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--card-text-color);
  outline: none;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 667px;
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
  position: relative;
  margin-block-start: 40px;
}

.footer__title {
  text-transform: lowercase;
  color: var(--title-font-color);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--footer-shadow-color);
  font-size: var(--title-font-size);
  line-height: 83%;
}

/* ширина больше 768px пикселей */
@media (width >= 768px) {

  /* header */

  .header {
    max-width: 728px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__rec {
    top: 20px;
    right: 10px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -20px;
  }

  .header__description {
    max-width: 364px;
    justify-self: end;
  }

  /* main */

  .main {
    max-width: 728px;
  }

  /* article */

  .article:first-of-type {
    margin-block-start: 60px;
  }

  .card {
    margin-block-start: 0px;
  }

  .section-concentration .article__title {
    max-width: 236px;
  }

  .section-how .card {
    grid-column: 2 / 4;
  }

  .section-better-concentration {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .section-better-concentration .article__title {
    grid-column: 1 / 2;
    /* grid-row-start: 1;
    grid-row-end: 6; */
  }

  .section-better-concentration .cards {
    display: grid;
    gap: 20px;
  }

  .card__text_gallery-subtitle {
    margin-block-end: 0;
    grid-column: 1 / 4;
  }

  .card__img_sunset {
    grid-column: 1 / 3;
  }

  .card__img_icecream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .card__img_tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .card__img_book {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .card__img_street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    max-width: 728px;
  }
}

/* ширина больше 1024px пикселей */
@media (width >= 1024px) {
  
  /* header */

  .header {
    max-width: 984px;
  }

  .header__theme-menu {
    align-self: self-start;
    justify-self: center;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__theme-menu-item {
    margin-bottom: 0;
  }

  .header__description {
    max-width: 491px;
  }

  /* main */

  .main {
    max-width: 984px;
  }

  /* article */

  .section-concentration .article__title {
    grid-column: span 4;
    max-width: 315px;
  }

  .section-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-better-concentration {
    grid-template-columns: 315px 1fr;
  }

  /* article */

  .article:last-of-type {
    margin-block-end: 0;
  }

  /* footer */

  .footer {
    max-width: 984px;
    margin-block-start: 60px;
  }
}